.banner-container {
    background: url('../../assets/header-background.png');
    width: 100%;
    color: #FFFFFF;
    padding: 2.5em 0;

    .primary-text {
        font-size: 2.2em;
        font-weight: 200;
        padding-bottom: .3em;
    }

    .secondary-text {
        font-size: 1.3em;
        font-weight: 100;
    }
}
