.grid-image {
    min-height: 240px;
    background: url('../../assets/mw-grid.png');
    background-size: contain;
    background-repeat: no-repeat;
}

.section-header {
    color: #000000;
    font-weight: 400;
    font-size: 1.4em;
    margin-bottom: .7em;
}
