<mw-banner [primaryText]="'An open source Angular 4 grid'"
    [secondaryText]="'Easily display a modern, fully customizable grid with enterprise quality features in your applications'">
</mw-banner>
<div class="container">
    <div class="row mw-bootstrap-row">
        <div class="col-xs-12 col-md-6">
            <div class="section-header">Basic Features</div>
            <ul>
                <li>Dom Virtualization</li>
                <li>Pagination and infinite scroll</li>
                <li>Custom cell templates</li>
                <li>Dynamic column sizing</li>
                <li>Sorting (Under development)</li>
                <li>Searching (Under development)</li>
            </ul>
        </div>
        <div class="col-xs-12 col-md-6">
            <div class="grid-image"></div>
        </div>
    </div>
</div>
