$border-color: #000000;
$border-thickness: 1px;
$border-style: solid;
$font-color: #747C85;
$header-font-color: #313942;
$header-backround-color: #F4F5F6;

mw-grid > .mw-grid-container.spreadsheet {

    mw-grid-headers .mw-header {
        > div {
            border-top: $border-thickness $border-style $border-color;
            border-left: $border-thickness $border-style $border-color;
            border-bottom: $border-thickness $border-style $border-color;
            color: $header-font-color;
            background: $header-backround-color;
            padding: 0 1em;
            font-weight: 500;
        }

        //
        // Draw right border on last cell in a row
        //
        &:last-child {
            border-right: $border-thickness $border-style $border-color;
        }
    }

    .mw-row {
        mw-cell .mw-cell {
            border-left: $border-thickness $border-style $border-color;
            border-bottom: $border-thickness $border-style $border-color;
            color: $font-color;
            padding: 0 1em;
        }

        //
        // Draw right border on last cell in a row
        //
        mw-cell:last-child .mw-cell {
            border-right: $border-thickness $border-style $border-color;
        }
    }
}
