$border-color: #000000;
$border-thickness: 1px;
$border-style: solid;
$font-color: #747C85;

mw-grid > .mw-grid-container.spreadsheet {
    .mw-row {
        //
        // Turn individual rows into flex containers
        //
        > span {
            display: flex;
        }

        //
        // Draw top boder only on cells in the first row
        //
        &:first-child {
            mw-cell .mw-cell {
                border-top: $border-thickness $border-style $border-color;
            }
        }

        //
        // Draw bottom and left border on all cells
        //
        mw-cell .mw-cell {
            border-left: $border-thickness $border-style $border-color;
            border-bottom: $border-thickness $border-style $border-color;
            color: $font-color;
            display: inline-block;
            width: 200px;
            position: relative;
            padding: 0 1em;
        }

        //
        // Draw right border on last cell in a row
        //
        mw-cell:last-child {
            border-right: $border-thickness $border-style $border-color;
        }
    }
}
