$top-border-color: #BFC3C7;
$border-color: #C0C3C8;
$border-thickness: 1px;
$border-style: solid;
$font-color: #747C85;
$header-font-color: #313942;
$even-backround-color: #FFFFFF;
$odd-backround-color: #F3F5F7;

mw-grid > .mw-grid-container.modern {

    //
    // Draw bottom border only on grid headers
    //
    .mw-column-header mw-cell .mw-cell {
        border-bottom: $border-thickness $border-style $top-border-color;
        color: $header-font-color;
        padding: 0 1em;
        font-weight: 500;
    }

    .mw-row {
        &.mw-even mw-cell .mw-cell {
            background: $even-backround-color;
        }

        &.mw-odd mw-cell .mw-cell {
            background: $odd-backround-color;
        }

        mw-cell .mw-cell {
            border-bottom: $border-thickness $border-style $border-color;
            color: $font-color;
            padding: 1em 1em;
        }
    }
}
