/* You can add global styles to this file, and also import other style files */
@import "../node_modules/bootstrap/dist/css/bootstrap.min.css";

html, body {
    font-family: 'Roboto', sans-serif;
    height: 100%;
    width: 100%;
}

ul li {
    color: #8C939B;
    padding: .1em 0;
    font-size: 1.2em;
}

.mw-bootstrap-row {
    padding-bottom: 2em;
}

li {
    &:focus {
        outline: none;
    }
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 300;
}

.hamburger-menu-button {
    height: 100%;
    width: 50px;
    display: inline-flex;
    align-items: center;
    justify-content: center;

    .hamburger-menu {
        height: 18px;
        width: 22px;
        background: url('./assets/Hamburger Button.svg');
        background-size: contain;
        background-repeat: no-repeat;
    }

    &:hover {
        background: #e8e8e8;
        cursor: pointer;
    }
}
