.under-construction-banner {
    background: #2A5E92;
    color: #FFFFFF;
    font-size: 1.2em;
    font-weight: 200;
    padding: 10px 15px;
    text-align: center;

    > span {
        display: inline-block;
        min-height: 1.5em;
    }

    button {
        color: white;
        opacity: 1;
        font-size: 2em;

        position: absolute;
        right: 15px;
        top: 0;

        span:hover {
            cursor: pointer;
        }
    }
}

//
// Make page container take up entire height of the viewport
//
.page-container {
    display: flex;
    flex-direction: column;
    height: 100%;

    //
    // Have page content grow to take up remaining space of page
    //
    .page-content {
        flex-grow: 1;
        min-height: 0;

        //
        // Turn the content into a flex container so individual pages can take advantage of
        // flexbox features if needed
        //
        display: flex;
        flex-direction: column;
    }
}
