<nav class="navbar navbar-expand-md navbar-light">
    <div class="container">
        <span class="h1" class="navbar-brand">
            <span class="mw-logo">
                <span>MW</span><span>Grid</span>
            </span>
        </span>
        <button class="navbar-toggler" type="button" (click)="toggleMenu($event)">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="mw-grid-menu" id="navbarSupportedContent" [ngClass]="{'menu-shown': isMenuShown }">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item" routerLinkActive="active" routerLink="/home" (click)="toggleMenu($event)">
                    <a class="nav-link">Home</a>
                </li>
                <mw-dropdown-nav-item (menuItemClick)="toggleMenu()"></mw-dropdown-nav-item>
                <li class="nav-item" routerLink="/download" routerLinkActive="active" (click)="toggleMenu($event)">
                    <a class="nav-link">Download</a>
                </li>
                <li class="nav-item" routerLink="/support" routerLinkActive="active" (click)="toggleMenu($event)">
                    <a class="nav-link">Support</a>
                </li>
                <li class="nav-item" routerLink="/donate" routerLinkActive="active" (click)="toggleMenu($event)">
                    <a class="nav-link">Donate</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<div class="menu-overlay" (click)="toggleMenu($event)" [ngClass]="{'overlay-shown': isMenuShown }"></div>
