$docs-nav-width: 150px;
$docs-nav-padding: 30px;
$mobile-nav-height: 3em;
$nav-border: 1px solid #e8e8e8;

:host {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    min-height: 0;
}

.docs-container {
    flex-grow: 1;
    min-height: 0;
    display: flex;
    flex-direction: column;
    // Position so doc nav height will be based off this container
    position: relative;

    // Remove padding from double nested container on mobile devices
    @media (max-width: 767px) {
        padding: 0;
    }
}

.docs-content-container {
    overflow: auto;

    @media (min-width: 768px) {
        padding-left: calc(#{$docs-nav-width} + #{$docs-nav-padding});
    }

    //
    // Styling for doc section headers used across docs pages.
    //
    .doc-section {
        margin-bottom: 2em;

        .section-header {
            color: #000000;
            font-weight: 400;
            font-size: 1.3em;
            margin-bottom: .7em;
        }

        p {
            color: #333333;
        }
    }
}

.docs-nav {
    //
    // Style docs nav menu when on desktop
    //
    @media (min-width: 768px) {
        width: $docs-nav-width;
        position: absolute;
        overflow: auto;

        border-right: $nav-border;
        padding-right: $docs-nav-padding;
        text-align: right;
        z-index: 1;
    }

    //
    // Style docs nav menu when on mobile device
    //
    @media (max-width: 767px) {
        min-height: $mobile-nav-height;
        margin-bottom: 1em;
        border-bottom: $nav-border;

        .selected-nav-item {
            height: $mobile-nav-height;
            position: relative;
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding-left: 15px;
        }

        nav {
            padding: 0 15px;
        }
    }

    //
    // Style buttons in a nav section
    //
    ul {
        list-style: none;
        padding-left: 0;
        font-size: .9em;

        li {
            padding: 0;
            &:hover, &.active {
                a {
                    font-weight: 400;
                }
                color: #2A5E92;
                cursor: pointer;
            }

            a {
                font-weight: 300;
            }
        }
    }
}
