<div [ngClass]="{'mw-even': rowNumber % 2 === 0 && rowType === 0,
        'mw-odd': rowNumber % 2 !== 0  && rowType === 0,
        'mw-row': rowType === 0,
        'mw-column-header': rowType === 1 }">
    <mw-cell *ngFor="let colDefinition of grid.columnDefinitions"
        [row]="this"
        [title]="colDefinition.getTitle()"
        [item]="item"
        [binding]="colDefinition.binding"
        [style.width]="colDefinition.getWidth()"
        [style.minWidth]="colDefinition.getMinWidth()"
        [style.maxWidth]="colDefinition.getMaxWidth()"
        [style.height.px]="height"
        [template]="colDefinition.template"
        [cellClass]="colDefinition.cellClass">
    </mw-cell>
</div>
