<div [ngClass]="{'mw-even': rowNumber % 2 === 0 && rowType === 0,
        'mw-odd': rowNumber % 2 !== 0  && rowType === 0,
        'mw-row': rowType === 0,
        'mw-column-header': rowType === 1 }">
    <mw-cell *ngFor="let colDefinition of grid.columnDefinitions"
        [cellText]="item[colDefinition.binding]"
        [style.width]="colDefinition.getWidth()"
        [style.minWidth]="colDefinition.getMinWidth()"
        [style.maxWidth]="colDefinition.getMaxWidth()"
        [style.height.px]="height">
    </mw-cell>
</div>
