<div class="mw-grid-container {{gridTheme}}">
    <div class="mw-row" *ngFor="let item of data; let i = index;"
            [ngClass]="{'mw-even': i % 2 === 0, 'mw-odd': i % 2 !== 0 }">
        <span *ngIf="columnDefinitions.length !== 0">
            <mw-cell *ngFor="let colDefinition of columnDefinitions">
                {{ item[colDefinition.binding] }}
            </mw-cell>
        </span>
        <span *ngIf="columnDefinitions.length === 0">
            {{ item }}
        </span>
    </div>
</div>
