mw-grid > .mw-grid-container {
    //
    // Make the grid container display inline block and take up 100% of the available space.
    //
    display: inline-block;
    width: 100%;

    overflow: auto;
    -webkit-overflow-scrolling: touch;

    .grid-content {
        position: relative;

        //
        // All headers and cells should hide overflow and prevent it from wrapping to the next line
        //
        mw-grid-headers .mw-header, mw-cell {
            overflow: hidden;
            white-space: nowrap;
        }

        mw-grid-headers, .mw-row {
            display: flex;
        }
    }
}
