.doc-section {
    margin-bottom: 2em;

    .section-header {
        color: #000000;
        font-weight: 400;
        font-size: 1.3em;
        margin-bottom: .7em;
    }

    p {
        color: #333333;
    }
}
