.component-doc-header {
    .component-info {
        display: inline-block;

        .component-name {
            font-size: 1.7em;
            font-weight: 400;
        }

        .selector {
            font-size: .9em;
            font-weight: 300;

            span {
                font-weight: 500;
            }
        }

    }

    mw-button {
        float: right;
    }

    margin-bottom: 1.6em;
}

.doc-section {
    margin-bottom: 2em;

    .section-header {
        color: #000000;
        font-weight: 400;
        font-size: 1.3em;
        margin-bottom: .7em;
    }

    p {
        color: #333333;
    }
}
